body {
    background-image: url(circuit5.jpg);
}

h1 {
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

.jumbotron {
    margin: 10px 200px 10px 200px;
    text-align: center;
    border: outset 2px #dddddd;
}

h2 {
    padding: 10px;
}

#password {
    width: 100%;
    height: 80px;
    margin: 15px 0px 10px 0px;
    padding: 10px 10px 0px 10px;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    border: dashed 2px grey;
    border-radius: 5px;
    resize: none;
}

.passwordBox {
    margin-left: 10px;
    margin-right: 10px;
    border-top: solid 3px #dddddd;
    border-bottom: solid 3px #dddddd;
}

#generate, #copy {
    border-radius: 15px;
}

@media screen and (max-width: 375px) {
    .jumbotron {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #generate {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 996px) {
    .jumbotron {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #generate {
        margin-bottom: 15px;
    }
}